<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.hp.value" class="resource-label">{{localize "TRESPASSER.hp"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.effort.value" class="resource-label">{{localize "TRESPASSER.effort"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.effort.value" value="{{system.effort.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.effort.max" value="{{system.effort.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.level.value" class="resource-label">{{localize "TRESPASSER.level"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.ac.value" class="resource-label">{{localize "TRESPASSER.ac"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.ac.value" value="{{system.ac.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.speed.value" class="resource-label">{{localize "TRESPASSER.speed"}}</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.speed.value" value="{{system.speed.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.potency.value" class="resource-label rollable" data-roll="{{system.potency.value}}" data-label="{{system.potency.label}}">{{localize "TRESPASSER.potency"}} <i class="fa-solid fa-dice-d6" title = "Potency Die"></i></label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.potency.value" value="{{system.potency.value}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
          {{#each system.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
              <label for="system.attributes.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@attributes.{{key}}.mod" data-label="{{attribute.label}}">{{attribute.label}}</label>
              <input type="text" class = "attribute-input" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-attribute = "{{key}}" data-dtype="Number"/>
              <span class="attribute-mod rollable" data-roll="d20+@attributes.{{key}}.mod" data-label="{{attribute.label}}">{{numberFormat attribute.mod decimals=0 sign=true}}</span>
              <span class = "attribute-mod rollable" data-roll="d20+@attributes.{{key}}.skilledMod" data-label = "{{attributes.label}}">{{numberFormat attribute.skilledMod decimals=0 sign=true}}</span>
            </div>
          {{/each}}
      </section>
      <hr>
      <section class = "grid grid-3col">
        <aside class = "sidebar">
          <div class = "skills grid grid-2col">
          {{#each system.skills as |skill key|}}
            <div class="attribute flexrow flex-group-center">
              <label for="system.skills.{{key}}.value" class = "resource-label flexlarge align-left" data-label="{{skill.label}}">{{skill.label}}</label>
              <input type="checkbox" class = "skill-input" name="system.skills.{{key}}.value" {{checked skill.value}} data-dtype="Boolean"/>
            </div>
          {{/each}}
          </div>
        </aside>
        <section class = "main grid-span-2">
          <div class = "features-editor">
              {{editor system.features.value target="system.features.value" editable=editable button=true}}
          </div>
        </section>
      </section>
      <hr>
      <section class = "inventory grid grid-2col">
        {{#each system.inventory.contents}}
          <div class = "inventory-slot">
            <input type = "text" class = "inventory-input" name = "system.inventory.contents.[{{@index}}]" value = "{{this}}" data-dtype="String"/>
          </div>
          {{/each}}
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab powers" data-group="primary" data-tab="powers">
      {{> actor-powers}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> actor-effects}}
    </div>

    <div class="tab notes" data-group="primary" data-tab="notes">
      <div class = "notes-editor">
        {{editor system.biography.value target="system.biography.value" editable=editable button=true}}
      </div>
    </div>

  </section>
</form>

